{%extends "base.html" %}
{%block title %} {{pokemon}} {%endblock title%}
{%block content%}
                <h1>Mi Pokedex</h1>
            </div>
            <p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
            <h3>Características del Pokemon:</h3>
            <ul>
                <li>Tipo: {{pokemon.type}}</li>
                <li>Peso: {{pokemon.weight}} Kg.</li>
                <li>Altura: {{pokemon.height}} Cm.</li>
            </ul>
        </div>
{%endblock content%}
        